.img {
   
    height: 1000px;
    background: url(https://static.toss.im/assets/homepage/team/kv-1.jpg);
}

.img1 {
    height: 1000px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRa9BiW0C3h-K8Y9OLNrpUsLMvu1vTx8sdXDQ&usqp=CAU);
}